@model IEnumerable<ControleFinanceiro.Models.Instituicao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Listagem</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstituicaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstituicaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.InstituicaoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.InstituicaoId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.InstituicaoId })
            </td>
        </tr>
}
    </tbody>
</table>

